<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547047625044-udfr02ue7in769452q9b42k5nk7ref5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547047625044-udfr02ue7in769452q9b42k5nk7ref5a</string>
	<key>API_KEY</key>
	<string>AIzaSyCGhdZUsus3azYlZrO5qVp6oDbHzHtoN9o</string>
	<key>GCM_SENDER_ID</key>
	<string>547047625044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.example.Self-Yoga</string>
	<key>PROJECT_ID</key>
	<string>self-yoga</string>
	<key>STORAGE_BUCKET</key>
	<string>self-yoga.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547047625044:ios:7e321efec55005d405b8c1</string>
</dict>
</plist>